body {
	background-image:url('images/background_img.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	
	font-family: 'Englebert', sans-serif;
	color: white;
}

header {
	width: 100%;
	max-width: 900px;
	height: 100%;
	max-height: 110px;
	margin: 5px 50px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
	text-align: center;
}

article {
	text-align: center;
	color: black;
	width: 100%;
	height: 100%;
	max-height: 500px;
	max-width: 300px;
	margin: 5px 5px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}

.explore {
	text-align: center;
	color: black;
	width: 100%;
	height: 100%;
	max-height: 700px;
	max-width: 300px;
	margin: 5px 5px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}

nav h2 {
	text-align: center;
	color: black;
	width: 100%;
	height: 100%;
	max-height: 70px;
	max-width: 300px;
	margin: 5px 5px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}

iframe {
	width: 100%;
	max-width: 900px;
	height: 100%;
	min-height: 545px;
	margin: 30px 50px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	color: black;
	font-size: 60px;
}

h2 {
	color: black;
	font-size: 50px;
}

p {
	font-family: 'Englebert', sans-serif;
	color: white;
	font-size: 20px;
}

a {
	text-decoration:none;
	color: black;
	font-size: 20px;
}

#footer {
	width: 1000px;
	height: 2000px;
	margin: 30px 50px;
	clear: both;
	text-align: center;
	color: black;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}
