body {	
	font-family: 'Englebert', sans-serif;
	color: black
}

p {
	font-family: 'Englebert', sans-serif;
	color: black;
	font-size: 20px;
}

li {
	font-size: 20px;
}

h1 {
	color: black;
}

h2 {
	color: black;
	font-size: 30px;
}

a {
	text-decoration:none;
	color: black;
}

#projects img {
	opacity: 1;
	max-width: 400px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#poster {
	max-width: 800px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

#galleria {
	width: 100%;
	background: #000;
}

.top {
	font-size: 24px;
	padding: 5px;
	text-align: left;
	background-color: #A9A9A9;
	border: none;
}

.bottom {
	padding: 30px;
	display: none;
	text-align: right;
	background-color: #E0E0E0;
	border: none;
}