body {	
	font-family: 'Englebert', sans-serif;
	color: black
}

p {
	font-family: 'Englebert', sans-serif;
	color: black;
	font-size: 20px;
}

h1 {
	color: black;
}

h2 {
	color: black;
	font-size: 30px;
}

a {
	text-decoration:none;
	color: black;
}
