body {
	background-image:url('images/background_img.png');
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:100% 100%;
	
	font-family: 'Englebert', sans-serif;
	color: white;
}

header {
	width: 90%;
	height: 80%;
	margin: 20px 50px 1px 50px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
	text-align: center;
}

nav {
	width: 20%;
	height: 100%;
	margin: 20px 70px 1px 10px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: right;
	text-align: center;
}

iframe {
	width: 70%;
	height: 100%;
	margin: 30px 50px;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}

h1 {
	font-family: 'Love Ya Like A Sister', cursive;
	color: black;
	font-size: 60px;
}

h2 {
	color: black;
	font-size: 30px;
}

p {
	font-family: 'Englebert', sans-serif;
	color: white;
	font-size: 20px;
}

a {
	text-decoration:none;
	color: black;
}

#footer {
	width: 1000px;
	height: 2000px;
	margin: 30px 50px;
	clear: both;
	text-align: center;
	color: black;
	background-color: #ffffff;
	border: none;
	opacity: 0.6;
	float: left;
}
